.M_dashboardHeading
    display flex

    .E_profileWrapper,
    .E_subscriberList
        width: 50%

    +BSQ_MD()
        padding: 0 50px

    +BSQ_SM()
        display block

        .E_profileWrapper,
        .E_subscriberList
            width: 100%

        .E_subscriberList
            padding-top 35px

    +BSQ_XS()
        padding: 0
