/*******************/
/* GLOBALS */
/*******************/

// Paths
$path_icons = '../images/icons/'
$path_logos = '../images/logos/'
$path_languages = '../images/languages/'
$path_backgrounds = '../images/backgrounds/'

// Animations & transforms
$trans_default = cubic-bezier(.33,0,.2,1)

// Sizes
$dim_maxSize = 1200px

// Colors
$let_mainGreenDark = #2A3C3E

$let_mainGreenMiddle = #4cae4c

$let_mainGreenLight = #51c06b

$let_mainGreyLight = #798083

$let_mainGreyDark = #444f51

$let_mainBlueLight = #63a0d4

$let_defaultTextColor = #333

$let_dullTextColor = #798083

$let_white = #fff

$let_flLinkColor =  #56bf6e;

$let_flTitleLinkColor = #2b3c3e;

$let_flInputBG =  #e6e6e6;

$let_flDull = #5a5a5a;

$let_red = #bf5656;

$let_profileBorder = #293d3c;

$let_uhOverlay = #52c26f;

// Custom queries



