//ONRAIL PRESTASHOP THEME

// Import fonts
@import "globals/fonts.styl"

// Import vendors
@import "_vendors/*"
//@import "_vendors/jquery-ui.min.css"

// Import mixins
@import "_mixins/*"

// Import globals

@import "globals/variables.styl"
@import "globals/htmlElements.styl"
@import "globals/customClasses.styl"

// Import elements
@import "elements/*"

// Import modules
@import "modules/*"

// Import vendor edits
@import "vendorEdits/*"