.loadSpinner
	display: none
	z-index: 100

	&__image
		margin: auto
		width: 64px
		height: 64px
		background: url('../images/icons/ajaxSpinner.png') no-repeat
		animation: rotate 1.2s linear infinite
		background-size: contain


@keyframes rotate
	from
		transform: rotate(0deg)
	to
		transform: rotate(360deg)