.E_vetricalDivider
    display: flex
    width: 100%
    align-items: center

    &__title
        color: $let_mainGreenDark
        font-weight: 600
        font-size: 1.5rem
        margin-right: 15px

    &__line
        height: 1px
        flex-grow: 1
        background-color: $let_flLinkColor